/* Styles for hero */
.hero {
    position: relative;
    height: 80vh;
}

.hero-img {
    width: 100vw;
    position: absolute;
    z-index: -1;
    height: 80vh;
}
.hero-shade {
    width: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
    height: 80vh;
}

/* Styles for navbar present inside hero */
.navbar-container{
    margin: auto;
    padding: 20px 160px 20px 160px;
}
.navbar{
    margin: auto;
    padding: 0px 32px 0px 32px;
    font-family: 'Inter', sans-serif;
}
.navbar-toggler,
.navbar-toggler-icon {
    border: none;
    outline: none;
    box-shadow: none;
}


/* Styles for left side of navbar - Company logo and Link Buttons */
.navbar-left-container{
    gap: 64px;
    margin: auto;
}
.navbar-link-buttons-container{
    gap: 32px;
}
.company-logo{
    width: 160px;
    height: 40px;
}
.nav-link{
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    display: inline-block;
}
.dropdown-arrow{
    content: url('images/dropdown toggle.svg');
    width: 20px;
    height: 20px;
    position: relative;
    top: 7px;
}

/* Styles for right side of navbar - Signup and Login buttons */
.navbar-right-container{
    gap: 24px;
}
.signup-button{
    border: 0;
    background: none;
    color: #437EF7;
    font-weight: 600;
    font-size: 15px;
    
}
.login-button{
    padding: 12px 18px 12px 18px;
    font-weight: 600;
    font-size: 15px;
}


/* Styles for Hero content */

.hero-content{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Inter', sans-serif;
    color: #F9F9F9;
}

.hero-content-box{
    width: 50%;
    height: 50%;
}

.hero-content h1{
    text-align: center;
}

.hero-content button{
    padding: 12px 18px 12px 18px;
    border: 1px solid #2E3545;
    font-weight: 600;
    font-size: 15px;
}

.hero-content svg{
    width: 20px;
    height: 60px;
}

.contact-us{
    background-color: #2E3545;
    color: #F9F9F9;
}










/* Styles for Features Section */

.features-section{
    padding: 0 5%;
}


.features-section h1{
    font-family: 'Inter', sans-serif;
}


.features-section svg{
    background-color: #F5FAFF;
    fill: #437EF7;
    width: 32px;
    height: 32px;
}


.features-section a{
    text-decoration: none;
}

svg.arrow-icon{
    fill: #437EF7;
    background-color: white;
    width: 24px;
    height: 24px;
}

.feature{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 24px 0;
}

.features-section h3{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}

.features-section p{
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #5F6D7E;
    font-size: 16px;
}










/* Styles for product block */

.product-block{
    padding: 5%;
}

.product-block h1{
    font-family: 'Inter', sans-serif;
}


.product-block svg{
    fill: #437EF7;
    width: 32px;
    height: 32px;
}


.product-block a{
    text-decoration: none;
}

.product-block h3{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}

.product-block p{
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #5F6D7E;
    font-size: 16px;
}

.product-content{
    width: 90%;
}

.product-pic-small-screen{
    margin: auto;
}


/* Styles for Stats Section */

.stats-section{
    padding: 5%;
    background-color: #2B63D9;
}

.stats-container{
    padding: 0 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    /* background-color: aquamarine; */
}

.stats-section h1{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
}

.stats-section p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #B1CCFB;
    line-height: 24px;
}
.stats-section h6{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #B1CCFB;
    line-height: 32px;
}

.stats-section svg{
    fill: #F9F9F9;
    width: 32px;
    height: 32px;
}

.checked-line{
    display: flex;
}

.stats-section button{
    font-weight: 600;
    padding: 15px;
    background-color: #437EF7;
}

.stats-section button svg{
    fill: #F9F9F9;
    background-color: transparent;
    width: 20px;
    height: 20px;
}

.stats-content{
    max-width: 576px;
    color: #FFFFFF;
}



/* Styles for Client Section */

.client-logos-section{
    padding-bottom: 5%;
    overflow: hidden;
}

.logos-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-logos-row{
    display: flex;
    gap: 100px;
    margin: 20px 0;
}
.client-logo-large{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #DAE0E6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.client-logo-medium{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border: 1px solid #DAE0E6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.client-logo-small{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid #DAE0E6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.client-logo-large img{
    width: 72px;
    height: 72px;
}
.client-logo-medium img{
    width: 56px;
    height: 56px;
}
.client-logo-small img{
    width: 40px;
    height: 40px;
}


.show-more-link{
    width: 100%;
    display: flex;
    justify-content: center;
}
.client-logos-section a{
    text-decoration: none;
}


/* Styles for pricing section */

.pricing-section{
    padding-bottom: 5%;
}


.price-card{
    border: 1px solid #EAEBF0;
    padding: 32px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.tile{
    padding: 2px 8px;
    background-color: #5390F8;
    border-radius: 5px;
}
.tile p{
    margin: 0;
    color: #FFFFFF;
    font-family: "Inter" sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.price h1{
    font-family: "Inter" sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    margin: 0;
}

.price h6{
    font-family: "Inter" sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    color: #5F6D7E;
}

.package{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.price-card hr{
    border: 1px solid #EAEBF0;
    width: 100%;
}

.perks{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    gap: 8px;
}

.perk-description{
    font-family: "Inter" sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #272D37;
    display: flex;
    align-items: center;
    align-items: flex-start;
    gap: 8px;
}

.perk-description p{
    margin: 0;
}

.perk-description svg.tick{
    width: 24px;
    height: 24px;
    background-color: transparent;
    fill: #437EF7;
}

.perk-description svg.cross{
    width: 24px;
    height: 24px;
    background-color: transparent;
    fill: #DAE0E6;
}

.card-button{
    width: 100%;
}
.card-button button{
    width: 100%;
    background-color: #437EF7;
    padding: 12px 18px;
    border: 1px solid #EAEBF0;
    border-radius: 6px;
    font-family: "Inter" sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    color: #FFFFFF;
}

.card-button svg{
    background-color: transparent;
    fill: #FFFFFF;
    width: 20px;
    height: 20px;
}





/* Media query for screens 1380px wide or less */
@media (max-width: 1380px) {
    .navbar-container{
        padding: 0px
    }
    
}

/* Media query for screens 1140px wide or less */
@media (max-width: 1140px) {
    .navbar-right-container{
        display: none !important;
    }
    .navbar-left-container{
        margin: auto;
    }
    .hero-content{
        width: 100%;
    }
    .hero-content-box{
        width: 100%;
    }
    .hero-img {
        height: 70vh;
    }
    .hero-shade {
        height: 70vh;
    }
    .hero {
        height: 70vh;
    }
    
}

/* Media query for screens 575px wide or less */
@media (max-width: 575px) {
    .hero-img {
        height: 90vh;
    }
    .hero-shade {
        height: 90vh;
    }
    .hero {
        height: 90vh;
    }
}

/* Media query for screens 380px wide or less */
@media (max-width: 380px) {
    .navbar-container{
        margin: 0;
        padding: 0;
    }
    .navbar{
        margin: 0;
        padding: 0;
    }
    .navbar-left-container{
        gap: 0px;
        margin: 0;
        padding: 0;
    }
    .navbar-right-container{
        gap: 0px;
        margin: 0;
        padding: 0;
    }
    .hero-img {
        height: 110vh;
    }
    .hero-shade {
        height: 110vh;
    }
    .hero {
        height: 110vh;
    }
}





/* Media query for screens 768px wide or less */
@media (max-width: 768px) {
    .product-pic-large-screen{
        display: none;
    }
    .product-pic-small-screen img{
        text-align: center;
    }
    .product-box{
        width: 100%;
    }
    .stats-container{
        flex-direction: column;
        align-items: center;
    }
}

/* Media query for screens 768px wide or more */
@media (min-width: 769px) {
    .product-pic-small-screen{
        display: none;
    }
    .product-pic-large-screen{
        display: flex;
        justify-content: flex-end;
    }
    
}
